/* common css */
*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
li
{
    list-style-type: none;
}
body
{
    font-family: Arial,sans-serif;
}
img
{
    max-width: 100%;
}
a
{
    text-decoration: none;
}
.ds
{
    display: flex;
}
.blk
{
    display: block;
}
/* top header sec */
.top-header-sec
{
    background-color: #232f3e;
}
.sign-up-sec
{
    justify-content: space-between;
}
.humburger
{
padding:11px;
}
.logo-sec 
{
    padding-top:10px;
}
.right-sec
{
    align-items:center;
}
.right-sec li a 
{
    color:white;
}
.sign
{
    margin-left: 5px;
    line-height: 48px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    align-items: center;
}
.user
{
    padding: 9px 0 12px 4px;
    width:35px;
}
.user span, .cart span
{
font-size: x-large;
}
.cart
{
    padding:10px 18px 11px 7px;
}

/* search section styling */
.search-sec
{
    margin: 2px 10px 0;
}
.search
{
    background-color: white;
    border-radius: 8px;
    justify-content: space-between;
    position: relative;
}
.search input
{
    width:100%;
    outline: none;
     border-radius: 8px;
    border:none;
    font-size: 15px;
    font-weight: 400;
    color:#000;
    padding:13.5px 95px 13.5px 10px;
    box-shadow: 0 1px 0 0 rgb(255 255 255 / 50%), inset 0 1px 0 0 rgb(0 0 0 / 7%);
}
.search-btn
{
    position: absolute;
    right:0;
    top:0;
    justify-content: center;
    width:50px;
    padding:8px;
    border-radius: 8px;
    font-size: x-large;
    color:black;
    background-color: #febd69;
    transition: 0.3s ease all;
}
.search-btn:hover
{
    background-color: #f3a847;
}
/* top last menu list */
.nav-list-sec
{
    background: #232f3e;
    color:#0f1111;
   
}
.txt
{
color:white;
font-size: 11px;
font-weight: 600;
margin-left:15px;
}
.navlist
{
    margin-top:-2px;
}
.navlist li a 
{
    color:white;
    font-size: 15px;
   margin:0 0 20px 15px;
    display: block;
    font-weight: 400;
}

/* location section styling */
.location-sec
{
    background-color: #37475A;
    padding:11px 12px;
    color:white;
    align-items: center;
}
.location
{
    font-size: larger;
    margin-right: 5px;
}
.loc-txt
{
    font-size: 13px;
    line-height: 20px;
}
.location-sec-des, .right-sec-desk, .drpdown
{
    display: none;
}
@media only screen and (min-width:768px)
{
    .top-header-sec
    {
        display: flex;
    }
    .right-sec
    {
        display: none;
    }
    .humburger-sec
    {
        display: none;
    }
    .logo-sec
    {
        margin-left:11px;
        padding-left: 6px;
        padding-right:8px;
        display: flex;
        justify-content:center;
        align-items: center;
    }
    .logo-sec img
    {
    width:125px;
    }
    .location-sec-des
    {
        display: flex;
    }
    .map
    {
      background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405936311_.png);
      background-repeat: repeat;
      background-position: -71px 72px;
      width: 20px;
      height: 20px;
      display: block;
      margin-top:10px;
  } 

    .loc-des
    {
        margin:5px 2px 5px 0;
        padding:0 9px;
        color: white;
        align-items: center;
    }
    .hell
    {
        font-size: 12px;
        line-height: 14px;
        color:#eee;
    }
    .line-2
    {
        font-size: 14px;
        line-height: 15px;
        font-weight: 700;
    }
    /* search-sec */
    .search-sec
    {
        width:48%;
        padding:7px 4px 9px 3px;
    }
    .drpdown
    {
        position: relative;
        display: block;
        transition: 0.3s ease all;
    }
  .drp-btn
  {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 14.5px 12px;
      font-size: 13px;
      border-top-left-radius: 8px;
      background-color:#f3f3f3;
      border-right: 1px solid #ccc;
      border-bottom-left-radius: 8px;
   }
  .drp-btn:hover
  {
      background-color: #ccc;
  }
  .arrow
  {
      margin-left: 6px;
  }
.menu-sec
{
    position: absolute;
    top:39px;
    left:2px;
    background-color: white;
    border:1px solid #000;
    border-radius: 2px;
    width: 200px;
    display: none;
}
.drpdown:hover .menu-sec
{
 display: block;
}
.menu-sec li a 
{
    color:black;
    font-size: 14px;
    display: block;
    padding:10px;
    transition: 0.3s ease all;
}
.menu-sec li a:hover
{
    background-color: #ccc;
}
.nav-list-sec
{
    display: none;
}
/* right section styling for tablet and desktop */
.right-sec-desk
{
align-items: center;
display: flex;
}
 .right-sec-desk li a 
 {
     padding:0 9px 10px;
     margin-left:1px;
     color:white;
 }
 .right-sec-desk li a:hover
 {
     border:1px solid white;
 }
 .flag
 {
     background-image: url(https://m.media-amazon.com/images/S/sash/rzrQQdi0aRm6Dap.png);
     background-repeat: no-repeat;
     background-position: 1px -165px;
     width: 27px;
     height: 20px;
     margin-top:15px;
 }
 .mrt
 {
     margin-top:24px;
 }
 .arr
 {
     font-size: x-small;
     margin-left:3px;
 }
 .lane1-des
 {
     font-size: 12px;
     margin-top:9px;
 }
 .lane2-des
 {
     font-size: 14px;
     font-weight: bold;
 }

 .al
 {
     align-items: baseline;
 }
 .cart-des
 {
     background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405936311_.png);
        background-repeat: no-repeat;
        background-position: -219px -332px;
        width: 41px;
        height: 32px;
        display: block;
 }
 .cart-des-sec
 {
     align-items:baseline;
     font-weight: bold;
     margin-right: 4px;
 }
}
@media only screen and(max-width:1023px)
{
   .search-sec
   {
       width:43%;
   }
}